@charset "UTF-8";
/* CSS Document */

.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
	
}
.input-group-addon{    color: #FFFFFF;
    background-color: #0061B0;
    border-color: #545454;
	display: table-cell;
    white-space: nowrap;
    vertical-align: middle;
	padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 4px;
	width: 94px!important;
    margin-right: 0px!important;
	height: 36px;
	padding-top: 10px;}
.input-group-addon:last-child {
    border-left: 0;
}
.input_signin{margin-top: 20px;}